/* Estilo para a mensagem de carregamento */
.loading-message {
  text-align: center;
  font-size: 1.5em;
  color: #999;
  margin-top: 20px;
}

/* Estilo para a mensagem de erro */
.error-message {
  text-align: center;
  font-size: 1.2em;
  color: #d9534f;
  margin-top: 20px;
}

/* Estilo para a mensagem de "nenhum produto encontrado" */
.no-products-message {
  text-align: center;
  font-size: 1.2em;
  color: #777;
  margin-top: 20px;
}

/* Estilo para a lista de produtos */
.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 itens por linha */
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

/* Estilo para o cartão de produto */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  width: 100%; /* Para garantir que os itens ocupem toda a largura disponível */
  max-width: 350px; /* Limita a largura máxima para um tamanho adequado */
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

  /* Efeito ao passar o mouse sobre o cartão de produto */
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

/* Estilo para as informações do produto */
.product-info label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.1em;
  color: #333;
}

/* Estilo para os inputs de informações do produto */
.product-info input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border: 0px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  color: #555;
  background-color: #fff;
  text-align: center;
}

/* Estilo para a imagem do produto */
.product-info img {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Estilo para o botão de compra */
.buy-button {
  margin-top: 15px;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

  /* Efeito ao passar o mouse sobre o botão de compra */
  .buy-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  }

/* Estilo para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

  .pagination button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

    .pagination button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    .pagination button:hover {
      background-color: #0056b3;
      transform: translateY(-3px);
    }

  .pagination span {
    font-size: 1.2em;
    color: #333;
  }
