<div *ngIf="loading" class="loading-message">A carregar produtos...</div>

<div *ngIf="!loading && errorMessage" class="error-message">
    {{ errorMessage }}
</div>

<div *ngIf="!loading && paginatedProducts?.length === 0" class="no-products-message">
    Nenhum produto encontrado.
</div>

<div *ngIf="!loading && paginatedProducts && paginatedProducts.length > 0" class="product-list">
    <div *ngFor="let product of paginatedProducts" class="product-card">
        <div class="product-info">
            <label>Produto</label>
            <input type="text" [(ngModel)]="product.name" disabled />

            <label>Preço</label>
            <input type="number" [(ngModel)]="product.listPrice" [step]="0.01" disabled />

            <label>Imagem</label>
            <img [src]="product.thumbNailPhoto" alt="{{ product.name }}" width="100" />

            <button class="buy-button">Comprar</button>
        </div>
    </div>
</div>

<!-- Paginação -->
<div *ngIf="totalPages > 1" class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <span>{{ currentPage }} de {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Próximo</button>
</div>
